a{
    color: inherit;
    text-decoration: none;
}
body{
    display: flex;
    margin: 0px;
    height:100%;
    flex-direction: column;
}
li {
    list-style-type: none;
    white-space: nowrap;
}

.high_ul {
    color:white;
    font-weight: 200;
    min-width: 1200px;
    padding-left: 10px;
    padding-right: 30px;
    background-color: #A5C000;
    display: flex;
    justify-content: space-between; 
}
.high_left{
    min-width: 100px;
    display: flex;
    gap: 50px;
}
.high_right{
    min-width: 100px;
    display: flex;
    gap: 50px;
    
}
.low_category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.high_left li.active a{
    padding: 0 10px;
    padding-bottom:20px;
    background-color: white;
    color: black;
}

footer{
    background-color: gray;
    height:150px;
}
footer img{
    border: 3px solid black;
}