.high_ul {
    background-color: #A5C000;
}

.high_left li.active a{
    background-color: white;
}

.banner_img{
    margin:0;
    padding:0;
}
.useTime{

    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.useTime span{
    margin:10px;
}
.useTime_text{
    font-size:2rem;
}
.useTime_time{
    font-size:3rem;
}