.high_ul {
    background-color: #A5C000;
}

.high_left li.active a{
    background-color: white;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
}


.banner_img{
    width: 100%;
    min-width: 1200px;
    min-height: 400px;
    margin:0;
    padding:0;
}
.useTime{
    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}
.useTime span{
    margin:10px;
}
.useTime_text{
    font-size:2rem;
}
.useTime_time{
    font-size:3rem;
}
.sangha_news {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 10% auto;
    min-width: 1200px;
}

.news_title{
    display:flex;
    justify-content: center;
    font-weight: 100;
    font-size:1.5rem;
    margin-bottom: 20px;
}
.news_text{
    font-weight: bold;
    font-size:3rem;
}

.sangha_adventure {
    background-color: #e7e9de;
    display: flex;
    flex-direction: column;

    justify-content: center;
    height: 700px;
    padding: 10% auto;
    min-width: 1200px;
}


.adventure_title { 
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 1.5rem;
}

.adventure_text {
    display: flex;
    justify-content: center;
    padding-top:20px;
    font-weight: 600;
    font-size:3rem;
}


.channel {

    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.box1 {
    width: 400px;
    height:300px;
    border: 1px solid black;

}

.box1_up{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid black;

    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    font-weight:200;
    padding: 10px;
    height: 30%;    
}
.box1_up p{
    padding: 5px;
    margin: 0px;
}

.box1_down{
    display: flex;

    justify-content: center;
    align-items: center;
    height:60%;
    font-weight: 300;
    font-size: 1.5rem;

}
.box1_down ul {
    margin: 0;
    padding: 0;
}
.box1_down li{
    margin: 0;
    padding: 10px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
}
.box1_down img{
    margin-right: 10px;
}